* {
  margin: 0; 
  padding: 0; 
}

body {
  display: flex; 
  justify-content: center;
  align-items: center;
  font-family: sans-serif; 
}

.pokedex {
  width: 80vw; 
  display: grid; 
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 100px 1fr 50px 100px;
  grid-template-areas: 
    "header header header header"
    "card card card card"
    "exp exp exp exp"
    "result result result result"
  ;
}

.pokedex > h1 {
  color: lightgrey; 
  grid-area: header;
  text-align: center;
  font-size: 4rem;
}

.pokedex > h3 {
  text-align: center;
  grid-area: exp;
  height: 200px; 
}

.pokedex > h4 {
  color: red; 
  text-align: center;
  grid-area: result;
}

.pokecard {
  width: 250px; 
  height: 300px;
  margin: 1rem; 
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: lightgrey;
  border-radius: 10px;
  padding: 1rem; 
}

.pokecard > h2 {
  color: blue; 
}



.pokecard > img {
  width: 200px; 
  height: 200px;
}