* {
  margin: 0; 
  padding: 0; 
}

body {
  display: flex; 
  justify-content: center;
  align-items: center;
}

h1 {
  color: lightgrey; 
  grid-area: header;
  text-align: center;
}

.pokedex {
  width: 80vw; 
  display: grid; 
  grid-template-rows: repeat(3, 1fr);
  grid-template-areas: 
    "header header header"
    "poke poke poke"
    "mon mon mon";
}

.pokecard {
  width: 250px; 
  height: 300px;
  margin: 1rem; 
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: lightgrey;
  border-radius: 10px;
  padding: 1rem; 
}

.pokecard > h2 {
  color: blue; 
}

.pokecard > img {
  width: 200px; 
  height: 200px;
}